/* Grid */

body {
    margin: 0;
}

nav {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    background-color: lightgreen;
}

section {
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

#leftmenu,
#sidebar {
    background-color: darkslategray;
}

#leftmenu div,
#sidebar div {
    margin: 20px;
}

#leftmenu a,
#sidebar a {
    margin-left: 10px;
    color: white;
}

#maincontent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#maincontent div {
    margin: 20px;
}

#maincontent img {
    max-width: 250px;
}




/* Flexbox */

/* section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 400px;
    align-items: center;
    background-color: pink;
}

p {
    max-width: 300px;
} */