.individual-course>img{
    width: 100%;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.individual-course{
    text-align: center;
    border: 1px solid maroon;
    border-radius: 10px;
    max-width: 15% !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.274);
    margin-bottom: 30px;
}

.individual-course>div{
    padding: 20px;
}